

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #f2f2f2;}*/

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/***   */
.customers td .label {
    color: white;
    padding: 8px;
}

.customers td .success {
    background-color: #04AA6D;
} /* Green */
.customers td .info {
    background-color: #2196F3;
} /* Blue */
.customers td .warning {
    background-color: #ff9800;
} /* Orange */
.customers td .danger {
    background-color: #f44336;
} /* Red */
.customers td .other {
    background-color: #e7e7e7; color: black;
} /* Gray */