{% extends 'base.html.twig' %}
{% block title %}Registro Correctamente!{% endblock %}

{% block body %}

    <div class="row">
        <p>Felicidades usted se registro correctamente, como último paso revise su correo le enviamos un mensaje de confirmación y acceda a su cuenta. </p>

    </div>
{% endblock %}