{% extends 'base.html.twig' %}

{% block title %}Registro de usuario{% endblock %}

{% block body %}
    <h1 class="text-center">Summary for {{ controller_name  }}</h1>
    <div class="container-fluid">
      {{ controller_name }}
    </div>
{% endblock %}