{% extends 'dashboard.html.twig' %}

{% block title %}Registro de Log Entries{% endblock %}

{% block main %}
    <h1 class="text-center">Summary for Dev</h1>
    <div class="container-fluid">
        <table class="customers">
            <tr>
                <th>ID</th>
                <th>Nivel</th>
                <th>Cantidad</th>
                <th>Última actualizacion</th>
            </tr>
            {% for logSummary in logSummaries %}
                <tr>
                    <td>{{ logSummary.id }}</td>
                    <td>{{ logSummary.level.level }}</td>
                    <td>{{ logSummary.count.count }}</td>
                    <td>Germany</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}